
<div class="card" >
  <div class="card-header" style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path gua.cover_pic %>); background-size: cover !important;
  background-position: top;">
  </div>
  <div class="card-details">
    <div class="card-title">
      <div class="card-guard-avatar">
        <%= cl_image_tag gua.profile_pic %>
       </div>
      <div>
        <h3><%= gua.name %></h3>
        <p>Specialty: <%= gua.specialty %></p>
      </div>
    </div>
  </div>
  <div class="guard-status">
    <%= render 'components/availability_symbol', gu: gua %>
  </div>
</div>

