<div class="registration-background" style='background-image: url("<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1542812370/Guardians/deadpool-1200x675.jpg' %>");'>
  <div class="sign-box registration-box">

    <h2>Current Identity</h2>

    <%= simple_form_for(@guard) do |f| %>

      <div class="form-inputs">
        <%= f.input :name, input_html: {value: "#{current_user.first_name} #{current_user.last_name}"}%>
        <%= f.input :specialty, placeholder: "For example: Strong, Flying, Invisibilty."%>
        <%= f.input :rate %>
        <%= f.input :profile_pic %>
        <%= f.input :profile_pic_cache, as: :hidden %>
        <%= f.input :cover_pic %>
        <%= f.input :cover_pic_cache, as: :hidden %>
        <%= f.input :location, label: 'Head Quarter Location' %>
        <%= f.input :description %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create", class:'btn-green btn-large' %>
      </div>
    <% end %>
  </div>
</div>

