<% if booking.completed %>
  <div class="list-item completed">
<% else %>
  <div class="list-item">
<% end %>



      <%= cl_image_tag(booking.user.avatar, :width=>100, :height=>100, :crop=>"fill") %>

      <div class="list-content">
        <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
        <% if booking.completed %>
          <p>MISSION ACCOMPLISHED</p>
        <% elsif booking.confirmed %>
          <p>MISSION ONGOING</p>
        <% else %>
          <p id='mission-status'>PENDING REQUEST</p>
        <% end %>
      </div>


        <div>
          <div id='accept-form'>

            <% if !booking.confirmed %>
                <% if booking.guard.available %>
                    <%= link_to confirm_path(booking), remote: true do |f| %>
                        <p class='btn-plain no-padding accept-btn'>Accept Mission</p>
                    <% end %>
                <% end %>
                <%= link_to cancel_booking_path(booking), remote: true do |f| %>
                    <p class='btn-plain no-padding cancel-btn'>Reject Mission</p>
                <% end %>
            <% elsif !booking.completed %>
                    <%= link_to complete_mission_path(booking), remote: true do |f| %>
                        <p class='btn-plain no-padding complete-btn'>Mark Mission as completed</p>
                    <% end %>
            <% end %>

          </div>
          <!-- if booking is neither "not confirmed" nor "not completed", it's completed: -->
          <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1542812431/Components/tick-full.svg", id:'tick-full'%>
        </div>



  </div>
