<% if booking.completed %>
  <div class="list-item completed">
<% else %>
  <div class="list-item">
<% end %>
    <%= cl_image_tag(booking.guard.picture, :width=>100, :height=>100, :crop=>"fill") %>
    <div class="list-content">
      <%= link_to guard_path(booking.guard), class: 'list-link' do %>
        <h3><%= booking.guard.name %></h3>
      <% end %>
      <% if booking.completed %>
        <p>MISSION ACCOMPLISHED</p>
      <% else %>
        <p>ON YOUR MISSION</p>
      <% end %>
    </div>
    <div>
      <div>
        <%= form_for :booking, url: booking_path(booking), method: :patch do |f| %>
            <%= f.submit 'Mark Mission as completed', class: 'btn-plain no-padding' %>
        <% end %>
      </div>

      <%= cl_image_tag "tick-full", id:'tick-full'%>
    </div>
  </div>
