<div class="registration-background" style='background-image: url("<%= cl_image_path 'deadpool-1200x675' %>");'>
  <div class="sign-box registration-box">

    <h2>Secret Identity</h2>

    <%= simple_form_for(@guard) do |f| %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :specialty, placeholder: "For example: Strong, Flying, Invisibilty."%>
        <%= f.input :rate %>
        <%= f.input :profile_pic, input_html: {value: "#{@guard.profile_pic}"} %>
        <%= f.input :profile_pic_cache, as: :hidden %>
        <%= f.input :cover_pic, input_html: {value: "#{@guard.cover_pic}"} %>
        <%= f.input :cover_pic_cache, as: :hidden %>
        <%= f.input :location, label: 'Head Quarter Location' %>
        <%= f.input :description %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class:'btn-green btn-large' %>
      </div>
    <% end %>
  </div>
</div>
