
<div class= 'main-box-guards background-white'>
  <div class="left-side-guards">
    <div class="guard-pic" style="background-image:
         url(<%= @guard.picture[0].url %>)">
    </div>
  </div>

  <div class="availability-render">
    <%= render 'components/availability_symbol', gu: @guard %>
  </div>

  <div class="right-side-guards">

    <div class="guard-main-info">
      <h1><%= @guard.name %></h1>
      <p class= 'specialty-text'>Specialty: <%= @guard.specialty.capitalize %></p>
      <p class= 'specialty-text'>Head Quarter: <%= @guard.location.capitalize %></p>
      <p class= 'specialty-text rate'><%= @guard.rate %> $</p>
      <%= form_for :booking, url: guard_bookings_path(@guard), method: :post do |f| %>
        <%= f.submit 'Book', class: 'btn-green book-button-guard'%>
      <% end %>
    </div>

    <div class="accordion-guard">
      <div class="accordion-tab">
        <button class= "accordion-button btn-green" id= 'guardian-description'>Description
          <i class="fas fa-caret-right initial-arrow-down"></i>
        </button>
        <p class= 'toggle-text'><%= @guard.description %></p>
      </div>
      <div class="accordion-tab">
        <button class= "accordion-button btn-green" id="guardian-review">Reviews
          <i class="fas fa-caret-right initial-arrow-down"></i>
        </button>
        <p class= 'toggle-text'>This is a review</p>
      </div>
    </div>

  </div>

</div>

