<div class="profile-view">
  <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1542812430/Guardians/bomb.svg", id:"bomb" %>
  <% if @user.bookings.length >= 1 %>
    <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1542812430/Guardians/explosion.svg", id:"explosion" %>
  <% end %>
  <% if @user.bookings.length >= 5 %>
    <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1542812485/Guardians/atom.svg", id:"atom" %>
  <% end %>
  <div class="container profile-header">
    <%= cl_image_tag(@user.avatar, class:'img-circle circular', :transformation=>[
  {:width=>500, :height=>500, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}
  ]) %>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <%= render 'components/tabs', user: @user %>

  <!-- booked heroes content -->
  <div id='bookings-content' class='show booking-tab'>
    <% if @user.bookings.empty? %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="small-margin-top-bottom">
            <p class="p-profile">You did not book any guards yet.</p>
            <p>Start searching for guards to accomplish your missions!</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row list">
      <% @open_bookings.each do |booking| %>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= render 'components/list-item', booking: booking %>
        </div>
      <% end %>
      <% @completed_bookings.each do |booking| %>
        <% if @left_bookings_space > 0 %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <%= render 'components/list-item', booking: booking %>
          </div>
          <% @left_bookings_space -= 1 %>
        <% else %>
          <div class="col-xs-12 col-md-6 col-md-offset-3 show-less-booking">
            <%= render 'components/list-item', booking: booking %>
          </div>
        <% end %>
      <% end %>
      <% if @user.bookings.length > 5 %>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p id="show-btn">Show More</p>
        </div>
        <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= link_to "BOOK A HERO", guards_path, class:"btn btn-green btn-lg big-margin-bottom" %>
      </div>
    </div>
  </div>

  <!-- profile content -->

  <div id="profile-content" class="profile-tab">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h4 class="p-heading">USER PROFILE DETAILS</h4>
      <p class="p-profile">First Name: <%= @user.first_name %></p>
      <p class="p-profile">Last Name: <%= @user.last_name %></p>
      <p class="p-profile">Email: <%= @user.email %></p>
      <%= link_to "Edit User Details", edit_user_registration_path(@user), class:'.btn-green'%>

      <% if @guard %>
        <h4 class="p-heading heading-guard">GUARD DETAILS</h4>
        <div class="guard-flex">
          <div>
            <p class="p-profile">Name: <%= @guard.name %></p>
            <p class="p-profile">Speciality: <%= @guard.specialty %></p>
            <p class="p-profile">Rate: <%= @guard.rate %>$</p>
            <p class="p-profile">HQ: <%= @guard.location %></p>
            <%= link_to "Edit Guard Details",edit_guard_path(@guard), class:'.btn-green'%>
          </div>
          <%= cl_image_tag(@guard.profile_pic, :class=>'rounded-corners', :width=>100, :height=>100, :crop=>"fill") %>
        </div>

      <% else %>
        <div class="center-btn">
          <button class= 'btn btn-green' data-toggle="modal" data-target="#secret-id-check">Become a Guardian!</button>
        </div>
      <% end %>

    </div>
<!-- --------------------------------------MODAL--------------------------------------------------------- -->
      <div class="modal fade" id="secret-id-check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Become a Guardian!</h4>
            </div>
            <div class="modal-body">
              <div id="modal-text">Select whether to use your <strong>current identity</strong> or create a <strong>secret identity</strong>!</div>
              <div class="identity-selecter-buttons">
                <div class="identity-option">
                  <%= link_to new_guard_path, :method => :get, params: {secret_id: false} do %>
                      <p>Real Identity - take over information from your user profile<i class="fas fa-grin-alt"></i></p>
                  <% end %>
                </div>
                <div class="identity-option">
                  <%= link_to new_guard_path, :method => :get, params: {secret_id: true} do %>
                      <p>Secret Identity - keep your real identity hidden<i class="fas fa-mask"></i></p>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn-green modal-close-button" data-dismiss="modal">Cancel</button>
            </div> -->
          </div>
        </div>
      </div>
<!-- --------------------------------------------------------------------------------------------------- -->
  </div>

  <!-- guard content -->
  <% if @guard %>
    <div id="guard-content" class="guard-tab">
      <% if @guard.bookings.empty? %>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="small-margin-top-bottom">
              <p class="p-profile">No mission requests yet</p>
              <p>- sharpen your skills to get send on a mission!</p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row list">
        <% @guard_open_bookings.each do |booking| %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <%= render 'components/list-item-guard-view', booking: booking %>
          </div>
        <% end %>
        <% @guard_completed_bookings.each do |booking| %>
          <% if @guard_left_bookings_space > 0 %>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <%= render 'components/list-item-guard-view', booking: booking %>
            </div>
            <% @guard_left_bookings_space -= 1 %>
          <% else %>
            <div class="col-xs-12 col-md-6 col-md-offset-3 show-less-booking">
              <%= render 'components/list-item-guard-view', booking: booking %>
            </div>
          <% end %>
        <% end %>
        <% if @guard.bookings.length > 5 %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p id="show-btn">Show More</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
