<div class="profile">
  <%= cl_image_tag "bomb", id:"bomb" %>
  <% if @user.bookings.length >= 1 %>
    <%= cl_image_tag "explosion", id:"explosion" %>
  <% end %>
  <% if @user.bookings.length >= 5 %>
    <%= cl_image_tag "atom", id:"atom" %>
  <% end %>
  <div class="container profile-header">
    <%= cl_image_tag(@user.avatar, :transformation=>[
  {:width=>500, :height=>500, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}
  ]) %>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <%= render 'components/tabs', user: @user %>

  <!-- booked heroes content -->

  <div id='bookings-content' class='show booking-tab'>
    <div class="row list">
      <% @open_bookings.each do |booking| %>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= render 'components/list-item', booking: booking %>
        </div>
      <% end %>
      <% @completed_bookings.each do |booking| %>
        <% if @left_bookings_space > 0 %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <%= render 'components/list-item', booking: booking %>
          </div>
          <% @left_bookings_space -= 1 %>
        <% else %>
          <div class="col-xs-12 col-md-6 col-md-offset-3 show-less-booking">
            <%= render 'components/list-item', booking: booking %>
          </div>
        <% end %>
      <% end %>
      <% if @user.bookings.length > 5 %>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p id="show-btn">Show More</p>
        </div>
        <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= link_to "BOOK ANOTHER HERO", guards_path, class:"btn btn-green btn-lg" %>
      </div>
    </div>
  </div>

  <!-- profile content -->

  <div id="profile-content" class="profile-tab">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p>First Name: <%= @user.first_name %></p>
      <p>Last Name: <%= @user.last_name %></p>
      <p>Email: <%= @user.email %></p>
      <%= link_to "Edit Profile", edit_user_registration_path(@user), class:'.btn-green'%>
    </div>
  </div>

  <!-- guard content -->
  <% if @guard %>
    <div id="guard-content" class="guard-tab">
      <div class="row list">
        <% @guard_open_bookings.each do |booking| %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <%= render 'components/list-item-guard-view', booking: booking %>
          </div>
        <% end %>
        <% @guard_completed_bookings.each do |booking| %>
          <% if @guard_left_bookings_space > 0 %>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <%= render 'components/list-item-guard-view', booking: booking %>
            </div>
            <% @guard_left_bookings_space -= 1 %>
          <% else %>
            <div class="col-xs-12 col-md-6 col-md-offset-3 show-less-booking">
              <%= render 'components/list-item-guard-view', booking: booking %>
            </div>
          <% end %>
        <% end %>
        <% if @guard.bookings.length > 5 %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p id="show-btn">Show More</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
