<div class="sign-background" style='background-image: url("<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1543997566/f0dkpptkomggwaxxvxyg.jpg' %>");'>
    <div class="reset-pw-box">

      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reset password", class: 'btn-green btn-large' %>
        </div>
      <% end %>
      <div class="pw-reset-shared-links">
        <%= render "devise/shared/links" %>
      </div>

    </div>
</div>
